<div class="form-fields">
  <mat-form-field appearance="fill">
    <mat-label>Versti iš</mat-label>
    <mat-select [(ngModel)]="unitsFromId" (ngModelChange)="changeUnits($event)">
      <mat-option *ngFor="let unit of measurement" [value]="unit.unitId" >{{unit.unitName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Versti į</mat-label>
    <mat-select [(ngModel)]="unitsToId" (ngModelChange)="changeUnits($event)">
      <mat-option *ngFor="let unit of measurement" [value]="unit.unitId">{{unit.unitName}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class = form-fields>
  <mat-form-field appearance="fill">
    <mat-label>Reikšmė iš</mat-label>
    <input (keyup)="onKeyFrom($event)" matInput type="number" class="example-right-align" placeholder="0.00" [value]="valueFrom" autocomplete="off">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Reikšmė Į</mat-label>
    <input (keyup)="onKeyTo($event)" matInput type="number" class="example-right-align" placeholder="0.00" [value]="valueTo" autocomplete="off">
  </mat-form-field>
</div>
