<div class="form-fields">
  <mat-form-field appearance="fill">
    <mat-label>Versti iš</mat-label>
    <mat-select>
      <mat-option *ngFor="let unit of measurement" value="one">{{unit.unitName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Versti į</mat-label>
    <mat-select>
      <mat-option *ngFor="let unit of measurement" value="one">{{unit.unitName}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class = form-fields>
  <mat-form-field appearance="fill">
    <mat-label>Reikšmė iš</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0.00">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Reikšmė Į</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0.00">
  </mat-form-field>
  <div>the input value is : {{text}}</div>
</div>
